<template>
  <div style="margin: 10px">

    <b-container class="bv-example-row">
      <b-row>
        <b-col
          ><template>
            <div>
              <b-input-group>
                <b-form-input
                  v-model="form.email"
                  placeholder="Username"
                ></b-form-input>
                <b-form-input
                  v-model="form.passwd"
                  placeholder="Password"
                ></b-form-input>
                <b-input-group-append>
                  <b-button variant="outline-success" @click="searchStudent()"
                    >Login</b-button
                  >
                  <b-button
                    variant="outline-warning"
                    @click="clearSearchStudent()"
                    >Clear</b-button
                  >
                </b-input-group-append></b-input-group
              >
            </div>
          </template></b-col
        >
      </b-row>
    </b-container>
    <!-- <b-form-input v-model="search" placeholder="Search"></b-form-input> -->
    <div v-if="haveresult">
      <b-table striped responsive="" hover :items="studentList" :fields="fields">
      </b-table>
    </div>
    <div v-else><h3>No Result</h3></div>
  </div>
</template>

<script>
// import studentService from './StudentService'
import axios from 'axios'
export default {
  data () {
    return {
      form: {
        email: 'test',
        passwd: 'test'
      },
      haveresult: true,
      username: null,
      passwd: null,
      studentList: [],
      fields: [
        { key: '_id', label: 'ID' },
        { key: 'std_id', label: 'Student ID' },
        { key: 'name', label: 'Name' },
        'Operation'
      ]
    }
  },
  methods: {
    getStudents () {
      axios
        .get('http://localhost:3000/students')
        .then(res => {
          this.studentList = []
          const list = res.data
          for (let i = 0; i < list.length; i++) {
            if (list[i].type === 'student') {
              console.log(list[i])
              this.studentList.push(list[i])
            }
          }
          // this.studentList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    searchStudent () {
      axios
        .post('http://localhost:3000/login', this.form)
        .then(res => {
          console.log(res)
          this.studentList = []
          this.studentList.push(res.data)
          this.haveresult = true
          console.log(this.haveresult)
        })
        .catch(err => {
          console.log(err)
          this.haveresult = false
        })
    },
    clearSearchStudent () {
      this.form = {
        email: '',
        passwd: ''
      }
      if (this.haveresult === false) {
        this.haveresult = true
      }
      this.getStudents()
    }
  },
  mounted () {
    this.getStudents()
  }
}
</script>
